<!DOCTYPE html>
<html>
<head>
	<title>Pet Adoption Stats</title>
	<!-- include Plotly library -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
	<h1>Pet Adoption Stats</h1>
	<div id="adoptions-chart"></div>
	<script>
		// get the JSON data from the /stats API endpoint
		fetch('/stats')
			.then(function(response) {
				return response.json();
			})
			.then(function(jsonData) {
				// create a Plotly chart using the JSON data
				Plotly.newPlot('adoptions-chart', jsonData.data, jsonData.layout);
			});
	</script>
	<h2>Available Animals</h2>
	<h3>Dogs</h3>
	<ul>
		{% for dog in dogs %}
		<li>{{ dog.name }} - {{ dog.age }} - {{ dog.breed }} - {{ dog.location }}</li>
		{% endfor %}
	</ul>
	<h3>Cats</h3>
	<ul>
		{% for cat in cats %}
		<li>{{ cat.name }} - {{ cat.age }} - {{ cat.breed }} - {{ cat.location }}</li>
		{% endfor %}
	</ul>
	<h3>Other Animals</h3>
	<ul>
		{% for animal in other_animals %}
		<li>{{ animal.name }} - {{ animal.age }} - {{ animal.breed }} - {{ animal.location }}</li>
		{% endfor %}
	</ul>
</body>
</html>
